/* text-align: center;
height: 25;
width: 150;
margin-left: -75;
left: 50%;
position: absolute; */
.contenedor{
    position: absolute;
    background-color: blue;
    margin-left: -720;
    left: 50%;
}
.texto-login{
    /* texto login */
    position: absolute;
    width: 126px;
    height: 20px;
    left: 1289px;
    top: 182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.texto-rectangulo-superior{
    /* texto rectangulo inferior */
    position: absolute;
    width: 1064px;
    height: 150px;
    left: 184px;
    /* left: 184px; */

    top: 780px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.rectangulo-info-inferior{
    /* rectangulo-info-inferior */
    position: absolute;
    width: 1403px;
    height: 180px;
    left: 18px;
    top: 760px;
    background: rgba(92, 183, 96, 0.8);
    border-radius: 0px 65px;
}

.texto-bienbenida{
    /* texto-bienvenida */
    position: absolute;
    width: 1180px;
    height: 235px;
    left: 164px;
    top: 216px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #5CB760;
}

.img-logo{
    /* images-logo */
    position: absolute;
    width: 300px;
    height: 125px;
    left: 39px;
    top: 68px;
    background-image: url("../img/logo.png") ;
    /* background: url("../img/img-fondo.png"); */
    border-radius: 0px 35px;
    background-color: blue;
}
.contacto{
    /* concacto */
    position: absolute;
    width: 885px;
    height: 40px;
    left: 273px;
    top: 984px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.parrafoSuperior{
    /* parrafoSuperior */
    position: absolute;
    width: 830px;
    height: 97px;
    left: 393px;
    top: 96px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.rectangulo-superior-flotante{
    /* rectangulo-superior-flotante */
    position: absolute;
    width: 1403px;
    height: 169px;
    left: 18px;
    top: 51px;
    background: rgba(92, 183, 96, 0.8);
    border-radius: 0px 60px;
}
.img-fondo{
    /* img-fondo */
    position: absolute;
    width: 1442px;
    height: 929px;
    left: -2px;
    top: 31px;
    background: url("../img/img-fondo.png");
    border-radius: 0px 70px 0px 75px;
}
.rectangulo-inferior{
    /* rectangulo-inferior */
    position: absolute;
    width: 1440px;
    height: 181px;
    left: 0px;
    top: 843px;
    background: #B78B5C;
}
.rectangulo-superior{
    /* rectangulo-superior */
    position: absolute;
    width: 1440px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #B78B5C;
}

.texto-rectangulo-inferior{
    /* texto rectangulo inferior */
    position: absolute;
    width: 1064px;
    height: 150px;
    left: 184px;
    top: 780px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

body{
    background-color: black;
}
.menu-fondo{
    background-color: black;
    opacity: 50%;
    /* visibility: hidden; */
}

