
.botonMenu, .botonNuevo, .botonModificar, .botonEliminar, .botonSalir{
    position: absolute;
    width: 170px;
    height: 40px;
    left: 20px;
    top: 135px;
    background: url("../img/txtMenu.png")no-repeat
    #519856 center;
    border: 2px solid #CB1DC4;
    box-sizing: border-box;
    border-radius: 0px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}


.botonNuevo{
    /* height: 40px; */
    /*  +20  */
    top: 185px;
    /* left: 210px; */
    background: #519856;
    /* top: 135px; */
}


.botonModificar{
    /* height: 40px; */
    /* left: 400px; */
    top: 235px;
    background: #519856;
}


.botonEliminar{
    /* height: 40px; */
    top: 285px;
    /* left: 590px; */
    background: #519856;
}


.botonSalir{
    /* height: 40px; */
    /* left: 780px; */
    top: 335px;
    background: #519856;
}


@media all and (max-width: 480px){

    .botonMenu, .botonNuevo, .botonModificar, .botonEliminar, .botonSalir{
        position: absolute;
        width: 100px;
        height: 50px;
        margin-left: -45px;
        left:70%;
        margin-top: -25px;
        top:50%;
        background: url("../img/botonMenu-Movile.png"), no-repeat;
        border: none;
        color: #FFFFFF;
        background-size: cover;
        border-radius: 0px 0px 0px 0px;
        font-size: 14px;
    }
    
    
    .botonNuevo{
        left:70%;
        top: 125px;
        background: #519856;
    }
    
    
    .botonModificar{
        left:70%;
        top: 175px;
        background: #519856;
    }
    

    .botonEliminar{ 
        left:70%;
        top: 225px;
        background: #519856;
    }
    

    .botonSalir{
        left:70%;
        top: 260px;
        background: #519856;
    }


}
