.uNUEVO-menu, .MunbtnMisSolicitudes, .MunbtnUsuarios, .MunbtnSalir {
  position: absolute;
  width: 125px;
  height: 40px;
  top:0px;
  right: 0px;
  background-color: coral;
  background: #519856;
  border: 2px solid #CB1DC4;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}


.MunbtnMisSolicitudes{
  top: 40px;
}

.MunbtnUsuarios{
  top:80px;
}

.MunbtnSalir{
  top:120px;
}