.MSbtns , .MSbtnMenu, .MSbtnMisSolicitudes , .MSbtnUsuarios, .MSbtnSalir{
    position: absolute;
    width: 100px;
    height: 40px;
    right: 0px;
    background: #519856;
    border: 2px solid #CB1DC4;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height:20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.MSbtnMenu{
    top:0px;
}
.MSbtnMisSolicitudes{
    top:40px;
}
.MSbtnUsuarios{
    top:80px;
}
.MSbtnSalir{
    top:120px;
}


/* \\\\\\ ----> LA VERSION MOVIL ESTA DISEÑADA PARA UNA RESOLUCION DE 320 X 620  PX   <----////////     */
@media all and (max-device-width: 480px){

    .MSbtnMenu, .MSbtnMisSolicitudes, .MSbtnSalir, .MSbtnUsuarios{
        position: absolute;
        width: 110px;
        height: 35px;
        top:0px;
        /* left:50%; */
        right: 0px;
        margin-left: -55px;
        background-color: coral;
        background: #519856;
        box-sizing: border-box;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
    .MSbtnMisSolicitudes{
        top:35px;
    }
    .MSbtnUsuarios{
        top:70px;
    }
    .MSbtnSalir{
        top:105px;
    }



}