.contenedorDeSolicitudes{
    position: absolute;
    width: 1400px;
    height: 550px;
    /* margin-left: -18px; */
    left: 18;
    top: 281px;
    background: rgba(255, 255, 255, 0.75);
    display : inherit;
}

.listaSolicitud{
    position: relative;
    width: 1360px;
    height: 45px;
    left: 20px;
    top: 20px;
    background: rgba(6, 202, 32, 0.2);
    
}
