.contenedorDeSolicitudes{
    position: absolute;
    width: 1400px;
    height: 550px;
    /* margin-left: -18px; */
    left: 18;
    top: 281px;
    background: rgba(255, 255, 255, 0.75);
    display : inherit;
}

.listaSolicitud{
    position: relative;
    width: 1360px;
    height: 45px;
    left: 20px;
    top: 20px;
    background: rgba(6, 202, 32, 0.2);
    
}

.tabla{
    position: relative;
    left: 20px;
    top:20px;
    width: 1360px;
    background-color: blue;
}
.table ,tr{
    height: 45px;
}

.colFecha{
    width: 15%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.colDescripcion{
    width: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.colEstado{
    width: 20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.colCheck{
    width: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.check{
    position: relative;
    width: 30px;
    height: 30px;
    left: 5px;
    top: auto;
    /* background-image: url("../img/checkUnchecked.png") ; */
}


@media all and (max-device-width: 480px){

    .contenedorDeSolicitudes{
        position: absolute;
        width: 400px;
        height: 450px;
        /* margin-left: -18px; */
        left: 18;
        top: 281px;
        background: rgba(255, 255, 255, 0.75);
        display : inherit;
    }

    .tabla{
        position: absolute;
        left: 5px;
        top: 5px;
        width: 390px;
        background-color: blue;
    }
    .table ,tr{
        height: 6px;
    }
    
    .colFecha{
        width: 3%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    .colDescripcion{
        width: 60%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    .colEstado{
        width: 90%;
        right: 70%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    .colCheck{
        width: 1%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
    .check{
        position: relative;
        width: 30px;
        height: 30px;
        left: 5px;
        top: auto;
        /* background-image: url("../img/checkUnchecked.png") ; */
    }



}