/* conetenedorDeSolicitudes */

.conetenedorDeSolicitudes{

  position: absolute;
  width: 1401px;
  height: 628px;
  left: 20px;
  top: 281px;
  
  background: rgba(255, 255, 255, 0.75);
}


/* Vector 26 */

.Vector{

  position: absolute;
  width: 1383px;
  height: 0px;
  left: 22px;
  top: 318px;
  
  border: 1px solid #000000;
}

/* Fecha_Texto */

.Fecha_Texto{

  position: absolute;
  width: 101px;
  height: 20px;
  left: 96px;
  top: 292px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  
  color: #000000;
}



/* DESCRIPCIIÓN */

.Descripcion{

  position: absolute;
  width: 383px;
  height: 18px;
  left: 467px;
  top: 291px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  
  color: #000000;
}



/* ESTADO */

.Estado{

  position: absolute;
  width: 383px;
  height: 14px;
  left: 1047px;
  top: 295px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  text-align: center;
  
  color: #000000;
}



/* selecionDeSolicitud */

.selecionDeSolicitud{

  position: absolute;
  width: 27px;
  height: 25px;
  left: 32px;
  top: 287px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}


/* cuadroSolicitud */

.cuadroSolicitud{

  position: absolute;
  width: 27px;
  height: 26px;
  left: 32px;
  top: 331px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}


/* solicitud */

.solicitud{

  position: absolute;
  width: 1382px;
  height: 43px;
  left: 23px;
  top: 324px;
  
  border: 1px solid #000000;
  box-sizing: border-box;
}


/* pedido-texto */

.pedido-texto{

  position: absolute;
  width: 909px;
  height: 27px;
  left: 255px;
  top: 331px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
}



/* 28/05/2020 */

.fecha{

  position: absolute;
  width: 149px;
  height: 98px;
  left: 64px;
  top: 331px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #000000;
}



/* EN PROGRESO */

.enProgreso{

  position: absolute;
  width: 198px;
  height: 23px;
  left: 1193px;
  top: 335px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #000000;
}



/* BotonNueva */

.BotonNueva{

  position: absolute;
  width: 231px;
  height: 39px;
  left: 20px;
  top: 230px;
  
  background: #519856;
  border: 2px solid #CB1DC4;
  box-sizing: border-box;
  border-radius: 0px 20px;
}


/* NUEVA */

.nueva{

  position: absolute;
  width: 231px;
  height: 28px;
  left: 20px;
  top: 236px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}



/* botonModificar */

.botonModificar{

  position: absolute;
  width: 231px;
  height: 39px;
  left: 261px;
  top: 230px;
  
  background: #519856;
  border: 2px solid #CB1DC4;
  box-sizing: border-box;
  border-radius: 0px 20px;
}


/* MODIFICAR */

.modificar{

  position: absolute;
  width: 231px;
  height: 28px;
  left: 261px;
  top: 236px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}



/* BotonEliminar */

.BotonEliminar{

  position: absolute;
  width: 231px;
  height: 39px;
  left: 502px;
  top: 231px;
  
  background: #519856;
  border: 2px solid #CB1DC4;
  box-sizing: border-box;
  border-radius: 0px 20px;
}


/* ELIMINAR */

.eliminar{

  position: absolute;
  width: 231px;
  height: 28px;
  left: 502px;
  top: 237px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}




/* BotonSalir */

.botonSalir{

  position: absolute;
  width: 231px;
  height: 39px;
  left: 1190px;
  top: 233px;
  
  background: #519856;
  border: 2px solid #CB1DC4;
  box-sizing: border-box;
  border-radius: 0px 20px;
}


/* SALIR */

.salir{

  position: absolute;
  width: 231px;
  height: 28px;
  left: 1180px;
  top: 239px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
}



/* x */

.x{

  position: absolute;
  width: 24px;
  height: 23px;
  left: 34px;
  top: 330px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}
