.colAvatarm, .colNombre, .colActivo{
  width: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

/*
.colNombre{
  width: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}


.colActivo{
  width: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}*/
